@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

#error-page {
  display: grid;
  place-items: center;
  width: 100%;
  height: 90vh;
  font-size: 1.3rem;
}

#error-page .message {
  color: gray;
}

#error-icon {
  font-size: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-options {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  font-size: 1rem;
  display: none;
}

.nav-options a {
  text-decoration: none;
  color: inherit;
}

.nav-options > *:hover {
  color: rgb(50, 50, 244);
  font-weight: bold;
}

.heading, .navbar {
  padding: 10px 20px;
}

.heading{
  font-size: 1.8rem;
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.service-heading {
  text-decoration: underline;
  text-decoration-color: #c7421a;
}

.contact {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
}

.logo {
  height: 50px;
  width: 50px;
}

.logo img {
  height: 100%;
}

.hero {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.animated-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.tile {
  position: absolute;
  height: 400px;
  width: 105%;
}

.tilt-1 {
  background-color: aqua;
  transform: rotate(-1deg);
  left: -2px;
  z-index: 1;
}

.tilt-2 {
  transform: rotate(-2deg);
  left: -3px;
  background-color: purple;
  z-index: 2;
  background: url("/public/landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.tilt-3 {
  transform: rotate(0deg);
  background-color: greenyellow;
}

.description {
  z-index: 4;
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: 'Lemon', serif;
  height: 50%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
}

.description p {
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
}

.description h3 {
  width: 70%;
}

.book-session-btn {
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #c7421a;
  color: white;
  cursor: pointer;
}

.book-session-btn:hover {
  background-color: rgba(199, 66, 26, 0.6);
}

.services {
  background-color: #efefef;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.service {
  width: min(90%, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(102, 51, 153, 0.2);
  border-radius: 10px;
  padding: 30px;
  gap: 10px;
  font-family: "Courgette", cursive;
}

.service p {
  text-align: left;
  margin-block: 10px;
}

.service img {
  border-radius: 5px;
  background-color: gray;
  width: min(300px, 90%);
}

.bookings-form-container {
  background: url('../public/book.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.bookings-form-container .signup-form {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 20px;
}

.bookings-form-container .flex-form {
  width: 100%;
}

.form-container {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: min(800px, 70vh);
  box-shadow: 0 2px 5px gray;
}

.form-container input,
.bookings-form-container input, textarea {
  box-shadow: 0 1px 2px gray;
  padding: 10px 20px;
  border-radius: 5px;
}

.form-container label {
  text-align: left;
}

.form-container textarea {
  padding: 20px;
}

.form-container .heading {
  margin-top: 10px;
}

.flex-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: 0 auto;
}

.register-btn {
  margin: 0 auto;
}

#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.about-description {
  font-size: 1.3rem;
  line-height: 170%;
  padding-right: 20px;
}

#about img {
  width: min(400px, 100%);
}

#reviews-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 40px;
  background-color: #efefef;
  border-radius: 20px;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.review {
  padding: 20px;
  margin: 0 auto;
  width: min(500px, 90%);
  border-radius: 4px;
  background-color: rgba(102, 51, 153, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 5px rgb(221, 221, 237);
}

.review-profile {
  height: 120px;
  border-radius: 50%;
}

.signup-form {
  width: 100%;
  display: grid;
  place-items: center;
}

.placeholder-image {
  width: 400px;
  display: grid;
  place-items: center;
  height: 30%;
  overflow: hidden;
}

.placeholder-image img {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .description {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    font-size: 1.5rem;
  }

  .nav-options {
    display: flex;
    font-size: 1.2rem;
  }

  .description {
    font-size: 2rem;
  }

  .description p {
    font-size: 42px;
  }

  .description h3 {
    width: 90%;
  }

  .services {
    flex-direction: row;
    align-items: normal;
  }

  .service {
    width: 30%;
  }

  #about {
    flex-direction: row;
    text-align: start;
  }

  #about img {
    width: 400px;
  }

  .reviews {
    flex-direction: row;
  }

  .signup-form {
    width: 500px;
  }

  .form-container {
    flex-direction: row;
    height: fit-content;
  }
}