@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* #root {
  padding: 0;
  margin: 0;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.nav-options {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.contact {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
}

.logo {
  height: 50px;
  width: 50px;
}

.logo img {
  height: 100%;
}

.hero {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.tile {
  position: absolute;
  height: 400px;
  width: 105%;
}

.tilt-1 {
  background-color: aqua;
  transform: rotate(-1deg);
  left: -2px;
  z-index: 1;
}

.tilt-2 {
  transform: rotate(-2deg);
  left: -3px;
  background-color: purple;
  z-index: 2;
}

.tilt-3 {
  transform: rotate(0deg);
  background-color: greenyellow;
}

.description {
  z-index: 4;
  color: whitesmoke;
  font-size: 53px;
  font-family: 'Lemon', serif;
  height: 50%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
}

.description p {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.book-session-btn {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(248, 198, 0);
  cursor: pointer;
}